.env
.env.*
!.env.example
node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.git/
.github/
.phpunit.cache/
firebase-service-account.json
*.log
docker/
